<form id="prime_limiter" name="prime_limiter" style="margin: 25px; text-align: center; font-size: 11px;" action="/composite_search" method="POST">
	<label for="limit">Input a limiting odd prime number to generate a matrix for:</label> 
	<input type="number" id="limit" name="limit"
       min="1" max="999999999">
    <input type="submit">
</form>
<table style="margin: 25px 0; text-align: center; font-size: 11px;">
	<% @composites.each_with_index do |row, i| %>
		<tr>
			<% row.each_with_index do |col, j| %>
				<td><%= col %></td>
			<% end %>
		</tr>
	<% end %>
</table>

<h6>How To Use the Subtractive Composite - Prime Number Finder (Online)</h6>
<ol>
	<li style="padding: 5px;">Determine which prime decade (the range of 10 integers where we want to investigate, for primes). For example, if one wants to determine the primes within a given decade, say, 250–260.</li>

	<li style="padding: 5px;">Input a limiting odd prime number, found by taking the maximum from the given decade in Step 1 - so 260 divided by 3 is our limiting odd prime (86.66666667:~87), to generate a matrix for (in the input field), then hit 'Submit'. The SCPNF method will allow a person to determine the primes which exist three times beyond the limiting odd prime number [inputted; so the range is from the limiting odd prime to 3-times, the number of odd numbers extending from the limiting odd prime].</li>

	<li style="padding: 5px;">Now, use the 'Find' feature of your browser by pressing down the Command ⌘+F (MacOS) to discover the primes for all numbers from 1–260, by finding if specific odd numbers, using the finder - input an odd number that you suspect to be a prime, and to exist or not within the inner matrix. Numbers where the finder is not able to highlight/find that specified number, means that that number is a prime; and if it the number specified is found, then that number (within the inner matrix) is considered to be a composite.</li>
</ol>